<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous">
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/product}">Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/customer}">Customer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/cart}">Cart</a>
            </li>
        </ul>
    </div>
</nav>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
<!--        <th>Description</th>-->
        <th>Manufacturer</th>
        <th>Image</th>
        <th>Price</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr  th:each="product : ${productPage}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <!--        <td th:text="${product.productPrices}"></td>-->
<!--        <td th:text="${product.description}"></td>-->
<!--        <td th:text="${product.unit}"></td>-->
        <td th:text="${product.manufacturer}"></td>
        <td>
<!--            <img th:src="${product.productImage}" class="w-100 h-100">-->
            <img th:src="${product.productImage}" class="img-thumbnail" style="max-width: 150px; max-height: 150px;" alt="Product Image">

        </td>
        <td th:text="${product.price}"></td>
        <td>
            <a th:href="@{'/' + ${product.id} + '/detail'}">Detail</a>
        </td>

        <!--        <td th:text="${}"></td>-->
        <!--        <td><img th:src="${}" alt="Product Image" width="100" height="100" /></td>-->
    </tr>
    </tbody>
</table>
<!--<div th:if="${productPage.totalPages > 0}" th:each="pageNumber :${pageNumbers}">-->
<!--    <a th:href="@{/product(size=${productPage.size}, page=${pageNumber})}"-->
<!--       th:text="${pageNumber}"-->
<!--       th:class="${pageNumber==productPage.number + 1} ? active"></a>-->
<!--</div>-->
<div th:if="${productPage.totalPages > 0}" class="d-flex justify-content-center">
    <nav>
        <ul class="pagination">
            <li th:each="pageNumber :${pageNumbers}"
                th:class="${pageNumber==productPage.number + 1} ? 'page-item active' : 'page-item'">
                <a class="page-link"
                   th:href="@{/product(size=${productPage.size}, page=${pageNumber})}"
                   th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>